body {

	background-color: #303841;



	font-family: 'Archivo';
	font-size: 2vw;
	font-weight: normal;

}


.titlebar {
	text-align: center;
	background-color: #00ADB5;
	width: 85%;

		


	height: 55px;
	line-height: 55px;

	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	font-weight: bold;













	color: #EEEEEE;
	vertical-align: middle;
	font-size: 3vw;

}

.mainbody {
	text-align: center;
	color: #EEEEEE;
}



.footer {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5vw;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	max-width: 900px;
}



a {
	color: #00ADB5;
}


